<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>For Loop</h1>

    <table border="1px" align="center">
        <tr>
            <th>Subjects</th>
            <th>Marks</th>
            <th>Pass/Fail</th>
        </tr>
        {% for key,value in data.items() %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ value}} </td>
                <td>
                    {% if value >=50 %}
                        <span style="color: green;">Pass</span>
                    {% else %}
                        <span style="color: red;">Fail</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        
    </table>

   

</body>
</html>